__pycache__
checkpoints
data
imgs
logs
*.ckpt
src
*.jpg
*.png
tmp*
outputs
DATASET
cmps

# added
.vimspector.json
docs/
logs_ldm/
memo.md
stable_diffusion/ldm/models/autounet_a.py
stable_diffusion/ldm/models/fuser.py
stable_diffusion/ldm/models/shortcut.py
taming/
